.footer{
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

.footer-1{
    display: flex;
    padding: 40px 10px;
    justify-content: space-between;
}

.footer-img{
    display: flex;
    overflow-x: hidden;
    width: 50%;
}

.footer-img1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-right: 1px solid black;
}

.footer-images-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}

.footer-img img {
  width: 100%;    
  height: 200px;    
  object-fit: contain;
  display: block;  
}

.footer-images-container {
  flex-direction: column;
  gap: 20px;
}

.footer-images-container img {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.footer-images-container img:first-child{
    border-bottom: 1px solid black;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 50%;
}

.footer-info-1{
    text-align: center;
    font-size: 1.3rem;
}

.links{
    display: flex;
    gap: 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 10px;
    width: 80%;
    justify-content: center;
    text-decoration: underline;
}

.link-box-1, .link-box-2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.links a{
    text-decoration: none;
    color: black;
    text-align: left;
}


.footer-2{
    background: black;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}



