.selector {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
}

.dropdown {
  width: 80%;
  padding: 0.75rem 1rem;

  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text-main); /* light text */

  background-color: var(--color-bg-main); /* near black */
  border: 1px solid var(--color-primary); /* yellow-400 */
  border-radius: 10px;

  cursor: pointer;
  outline: none;

  appearance: none;

  /* custom arrow support if you add one */
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 14px;

  transition: all 0.2s ease;
}

.dropdown:hover {
  border-color: var(--color-primary); /* brighter yellow */
  background-color: var(--color-primary-hover);
  box-shadow: var(--shadow-primary);
  transform: scale3d(1.02,1.02,3);
  color: var(--color-bg-main);
  font-weight: 400;
}

.dropdown:focus {
  border-color: var(--color-primary);
  box-shadow: var(--shadow-primary);
}

.dropdown:active {
  transform: scale(0.99);
  background-color: #262626;
}
