.tree-container {
  display: flex;
  gap: 40px;
  overflow-x: scroll;
  padding: 20px;
  height: 400px;
  max-width: 95vw;
  overflow-y: hidden;
}

.empty-level{
  color: var(--color-primary);
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- LEVEL CARD ---------- */

.level {
  min-width: 250px;
  height: 400px;
  border-radius: 8px;
  padding: 5px 20px;

  background: var(--color-bg-main);
  border: 1px solid var(--color-primary);

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* ---------- Sticky Header ---------- */

.level-header {
  position: sticky;
  top: -5px;
  background: var(--color-bg-main);
  z-index: 5;
}

.level-top {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.dim-title {
  font-size: 1.5rem;
  color: var(--color-text-main);
  margin: 0;
}

.underline {
  border: 1px solid var(--color-primary);
  opacity: 0.6;
  margin-bottom: 20px;
}

/* ---------- Scrollable Items ---------- */

.items-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

.items-wrap::-webkit-scrollbar {
  width: 5px;
}

.items-wrap::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 8px;
}

/* ---------- ITEMS ---------- */

.item {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  color: var(--color-text-main);
}

.text-selected{
  font-weight: 800;
}

.percentage {
  color: var(--color-primary);
  font-weight: bold;
}

/* ---------- BARS ---------- */

.box {
  width: 100%;
}

.bar-fill {
  height: 15px;
  background: var(--color-primary);
  opacity: 0.45;
  border-radius: 4px;
  transition: width 0.4s ease;
}

.bar-selected {
  height: 15px;
  background: var(--color-primary);
  opacity: 1;
  border-radius: 4px;
  transition: width 0.4s ease;
}

/* ---------- CLOSE BUTTON ---------- */

.close-button {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.25s ease;
}

.close-button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}

.close-button:hover svg {
  color: var(--color-bg-main);
}
