.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .box {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    align-items: center;
    padding: 10px 100px;
  }

  /* ---------- Dropdown ---------- */

  .dim-dropdown {
    width: 200px;
    text-align: center;
    padding: 0.75rem 1rem;

    font-size: 1rem;
    font-weight: 500;
    color: var(--color-bg-main);

    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 10px;

    cursor: pointer;
    outline: none;
    appearance: none;

    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 14px;

    transition: all 0.2s ease;

    &:hover {
      border-color: var(--color-primary);
      background-color: var(--color-bg-main);
      box-shadow: var(--shadow-primary);
      transform: scaleX(1.1);
      color: var(--color-text-main);
    }

    &:focus {
      border-color: var(--color-primary);
      box-shadow: var(--shadow-primary);
    }

    &:active {
      background-color: #262626;
      transform: scale(0.99);
    }
  }

  /* ---------- Buttons ---------- */

  .reset-button,
  .query-button {
    width: 110px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    background: transparent;

    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;

    font-size: 1rem;
    font-weight: 600;
    font-family: monospace;

    transition: all 0.25s ease;
  }

  .reset-button:hover,
  .query-button:hover {
    background: var(--color-primary);
    color: var(--color-bg-main);
    cursor: pointer;
    box-shadow: var(--shadow-primary);
  }

  .reset-button:active,
  .query-button:active {
    transform: scale(0.97);
  }
}
